<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Chapter01_Hello.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>63B9A41E1C7D85E90061FF78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63B9A4321C7D85EA0061FF78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63B9A43D1C7D85EA0061FF78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
